<div class="single-post-big">
    <div class="big-image">
        {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="{{ post.title }}" width="640" height="400">
        {% else %}
            <img src="https://picsum.photos/id/1060/620/328/?blur=2" alt="">
        {% endif %}
    </div>
    <div class="big-text">
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <p>{{ post.content|truncatewords_html:60|safe }}</p>
        <h4><span class="date">{{ post.created_at|date:"d.m.Y H:i" }}</span><span class="author">Posted By: <span
                class="author-name">{{ post.author }}</span></span>
        </h4>
    </div>
</div>